
.app {
    width: 306px;
    margin:25px  auto
}
.board {
    display: flex;
    flex-wrap: wrap;
}
.board div {
    width: 100px;
    height: 100px;
    background-color: #87CEFA;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}


